@import url(reset.css);

.header, .footer {
	height: 60px;
	background-color: red;
}

.header-container, .footer-container {
	padding: 20px;
	margin: auto;
	text-transform: uppercase;
	color: white;
	font: Helvetica;
	font-size: 20px;
}

.sections {
	top: 60px;
	background-color: white
	color: black;
	height: 904px;
}

.section_one {
	margin-top: 52px;
	margin-left: 70px;
	width: 400px;
	height: 800px;
	display: inline-block;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;
}

.section_two {
	margin-left: 50px;
	width: 400px;
	height: 800px;
	display: inline-block;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;
}

.section_three {
	margin-left: 50px;
	width: 400px;
	height: 800px;
	display: inline-block;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;
}

.section_header {
	margin-top: 33px;
	margin-left: 33px;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold
}

.section_text {
	margin-top: 41px;
	margin-left: 33px;
	font-family: Helvetica;
	font-size: 20px;
	line-height: 23px;
}