@import url(reset.css);

.main {
	margin: 0 auto;
}

header {
	height: 160px;
	background: #FEB700;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_footer_text {
	font-family: Times New Roman;
	font-size: 50px;
	line-height: 57px;
	text-transform: uppercase;
}

main {
	margin: 70px auto;
	max-width: 1300px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.column {
	width: calc((100% - 100px)/3);
	border: 1px solid #000000;
	box-sizing: border-box;
}

.image1 {
	background-image: url(../img/1.png);
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}

.image2 {
	background-image: url(../img/2.png);
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}

.image3 {
	background-image: url(../img/3.png);
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}

.text_section {
	width: 83.5%;
	margin: 30px auto;
}

.text_header {
	font-family: Times New Roman;
	font-size: 20px;
	line-height: 23px;
	font-weight: bold;
}

.text {
	font-family: Times New Roman;
	font-size: 20px;
	line-height: 23px;
}

footer {
	height: 160px;
	background: #FEB700;
	display: flex;
	align-items: center;
	justify-content: center;
}